{% extends 'base.html' %}

{% block content %}
  <h2>Edit Profile</h2>
  <form method="POST">
  {% csrf_token %}
  
    <div class="form-group">
      <label for="id_weight">Weight</label>
      <input type="number" name="weight" id="id_weight" class="form-control" value="{{ user_profile.weight }}">
    </div>

    <div class="form-group">
      <label for="id_birth_date">Birth Date</label>
      <input type="date" name="birth_date" id="id_birth_date" class="form-control" value="{{ user_profile.birth_date }}">
    </div>

    <button type="submit">Save Changes</button>
  </form>
{% endblock %}
